In [3]:
# import the pandas library
import pandas as pd
import numpy as np

In [4]:
# read csv
df = pd.read_csv("D:\python programs\dspl\\archive\ADANIPORTS.csv")

In [5]:
# To print no. of samples and attributes
print(df.shape)

(3322, 15)

In [6]:
# getting the columns of the dataset
columns = list(df.columns)
print(columns)

['Date', 'Symbol', 'Series', 'Prev Close', 'Open', 'High', 'Low', 'Last', 'Close', 'VWAP', 'Volume', 'Turnover', 'Trades', 'Deliverable Volume', '%Deliverble']

In [7]:
# To print first five samples
print(df.head())

         Date      Symbol Series  Prev Close    Open     High    Low   Last  \
0  2007-11-27  MUNDRAPORT     EQ      440.00  770.00  1050.00  770.0  959.0
1  2007-11-28  MUNDRAPORT     EQ      962.90  984.00   990.00  874.0  885.0
2  2007-11-29  MUNDRAPORT     EQ      893.90  909.00   914.75  841.0  887.0
3  2007-11-30  MUNDRAPORT     EQ      884.20  890.00   958.00  890.0  929.0
4  2007-12-03  MUNDRAPORT     EQ      921.55  939.75   995.00  922.0  980.0

    Close    VWAP    Volume      Turnover  Trades  Deliverable Volume  \
0  962.90  984.72  27294366  2.687719e+15     NaN             9859619
1  893.90  941.38   4581338  4.312765e+14     NaN             1453278
2  884.20  888.09   5124121  4.550658e+14     NaN             1069678
3  921.55  929.17   4609762  4.283257e+14     NaN             1260913
4  969.30  965.65   2977470  2.875200e+14     NaN              816123

   %Deliverble
0       0.3612
1       0.3172
2       0.2088
3       0.2735
4       0.2741

In [8]:
#Describing dataset 
print(df.describe())

        Prev Close         Open         High          Low         Last  \
count  3322.000000  3322.000000  3322.000000  3322.000000  3322.000000
mean    344.114314   344.763019   351.608007   337.531969   344.239539
std     192.936882   193.619992   198.617808   188.676614   193.187813
min     108.000000   108.000000   110.450000   105.650000   108.000000
25%     164.312500   164.850000   168.000000   161.600000   164.075000
50%     324.700000   325.750000   331.275000   319.850000   325.000000
75%     400.912500   401.000000   407.187500   395.000000   400.912500
max    1307.450000  1310.250000  1324.000000  1270.000000  1308.000000

             Close         VWAP        Volume      Turnover        Trades  \
count  3322.000000  3322.000000  3.322000e+03  3.322000e+03  2.456000e+03
mean    344.201626   344.853182  2.954564e+06  1.070144e+14  4.492259e+04
std     193.045886   193.841305  4.104227e+06  2.625564e+14  5.023124e+04
min     108.000000   108.340000  1.236600e+04  2.415857e+11  3.660000e+02
25%     164.312500   164.855000  7.493682e+05  1.817650e+13  2.083200e+04
50%     324.700000   325.765000  2.007292e+06  5.836041e+13  3.588150e+04
75%     400.912500   400.607500  3.636883e+06  1.158526e+14  5.336875e+04
max    1307.450000  1302.150000  9.771788e+07  8.160988e+15  1.205984e+06

       Deliverable Volume  %Deliverble
count        3.322000e+03  3322.000000
mean         1.207441e+06     0.445899
std          1.398640e+06     0.160496
min          5.383000e+03     0.067000
25%          3.212005e+05     0.332900
50%          8.132775e+05     0.445650
75%          1.605528e+06     0.555850
max          2.241652e+07     0.979800

In [9]:
#New dataframe 
new_df = df
#new_df.isnull()
#Checking for null values 
print(new_df.isnull().sum()) 
print("Missing values distribution: ")
print(new_df.isnull().mean())
#print(new_df.shape) 
#new_df.duplicated()

Date                    0
Symbol                  0
Series                  0
Prev Close              0
Open                    0
High                    0
Low                     0
Last                    0
Close                   0
VWAP                    0
Volume                  0
Turnover                0
Trades                866
Deliverable Volume      0
%Deliverble             0
dtype: int64
Missing values distribution:
Date                  0.000000
Symbol                0.000000
Series                0.000000
Prev Close            0.000000
Open                  0.000000
High                  0.000000
Low                   0.000000
Last                  0.000000
Close                 0.000000
VWAP                  0.000000
Volume                0.000000
Turnover              0.000000
Trades                0.260686
Deliverable Volume    0.000000
%Deliverble           0.000000
dtype: float64

In [10]:
# #Checking for duplicates
print(new_df.duplicated().any()) 
print(new_df.duplicated())
print(new_df.shape)

False
0       False
1       False
2       False
3       False
4       False
        ...
3317    False
3318    False
3319    False
3320    False
3321    False
Length: 3322, dtype: bool
(3322, 15)

In [11]:
print("Column datatypes: ")
print(new_df.dtypes)

Column datatypes:
Date                   object
Symbol                 object
Series                 object
Prev Close            float64
Open                  float64
High                  float64
Low                   float64
Last                  float64
Close                 float64
VWAP                  float64
Volume                  int64
Turnover              float64
Trades                float64
Deliverable Volume      int64
%Deliverble           float64
dtype: object

In [12]:
#Replacing string values with integer 
new_df["Symbol"].replace({"MUNDRAPORT":"1316"}, inplace = True) 
print(new_df.head())
print(new_df.shape)

         Date Symbol Series  Prev Close    Open     High    Low   Last  \
0  2007-11-27   1316     EQ      440.00  770.00  1050.00  770.0  959.0
1  2007-11-28   1316     EQ      962.90  984.00   990.00  874.0  885.0
2  2007-11-29   1316     EQ      893.90  909.00   914.75  841.0  887.0
3  2007-11-30   1316     EQ      884.20  890.00   958.00  890.0  929.0
4  2007-12-03   1316     EQ      921.55  939.75   995.00  922.0  980.0

    Close    VWAP    Volume      Turnover  Trades  Deliverable Volume  \
0  962.90  984.72  27294366  2.687719e+15     NaN             9859619
1  893.90  941.38   4581338  4.312765e+14     NaN             1453278
2  884.20  888.09   5124121  4.550658e+14     NaN             1069678
3  921.55  929.17   4609762  4.283257e+14     NaN             1260913
4  969.30  965.65   2977470  2.875200e+14     NaN              816123

   %Deliverble
0       0.3612
1       0.3172
2       0.2088
3       0.2735
4       0.2741
(3322, 15)

In [13]:
#Finding unique values in "Series" 
print(new_df["Series"].unique())

['EQ']

In [14]:
#Replacing string values with int
 
new_df['Series'].replace({'EQ':'517'}, inplace = True)
print(new_df.head())

         Date Symbol Series  Prev Close    Open     High    Low   Last  \
0  2007-11-27   1316    517      440.00  770.00  1050.00  770.0  959.0
1  2007-11-28   1316    517      962.90  984.00   990.00  874.0  885.0
2  2007-11-29   1316    517      893.90  909.00   914.75  841.0  887.0
3  2007-11-30   1316    517      884.20  890.00   958.00  890.0  929.0
4  2007-12-03   1316    517      921.55  939.75   995.00  922.0  980.0

    Close    VWAP    Volume      Turnover  Trades  Deliverable Volume  \
0  962.90  984.72  27294366  2.687719e+15     NaN             9859619
1  893.90  941.38   4581338  4.312765e+14     NaN             1453278
2  884.20  888.09   5124121  4.550658e+14     NaN             1069678
3  921.55  929.17   4609762  4.283257e+14     NaN             1260913
4  969.30  965.65   2977470  2.875200e+14     NaN              816123

   %Deliverble
0       0.3612
1       0.3172
2       0.2088
3       0.2735
4       0.2741

In [30]:
#Describing data after preprocessing 
print(new_df.shape) 
print(new_df.head())

(3322, 14)
         Date Symbol Series  Prev Close    Open     High    Low   Last  \
0  2007-11-27   1316    517      440.00  770.00  1050.00  770.0  959.0
1  2007-11-28   1316    517      962.90  984.00   990.00  874.0  885.0
2  2007-11-29   1316    517      893.90  909.00   914.75  841.0  887.0
3  2007-11-30   1316    517      884.20  890.00   958.00  890.0  929.0
4  2007-12-03   1316    517      921.55  939.75   995.00  922.0  980.0

    Close    VWAP    Volume      Turnover  Deliverable Volume  %Deliverble
0  962.90  984.72  27294366  2.687719e+15             9859619       0.3612
1  893.90  941.38   4581338  4.312765e+14             1453278       0.3172
2  884.20  888.09   5124121  4.550658e+14             1069678       0.2088
3  921.55  929.17   4609762  4.283257e+14             1260913       0.2735
4  969.30  965.65   2977470  2.875200e+14              816123       0.2741